// COLORS
$primary-color: #36d1dc;
$secondary-color: #5b86e5;
$font-family: "Montserrat", sans-serif;

$light-white: #373636;
$white-color: #373636;
$dark-grey: #fbf8f8;

$dark-blue-text: #272341; // For headings

// FONT SIZE
$default-font-size: 1.6rem;
$mid-font-size: 2.5rem;
$big-font-size: 4rem;
